<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" parallel="false">
    <listeners>
        <listener class-name="com.test.fw.CustomReporter" />
    </listeners>
    <test name="TestFirefox" verbose="10">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.test.result.Tests" />
        </classes>
    </test>
    <test name="ChromeTest" verbose="10">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.test.result.Tests" />
        </classes>
    </test>

</suite>